div.center{
    background-color: lightgray;
    margin:auto;
    border:1px solid white;
    width:50%;
    position:absolute;
    text-align:center;
}

.feld {
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
}