div.center {
    background-color: lightgray;
    margin: auto;
    border: 1px solid white;
    width: 50%;
    left: 25%;
    position: absolute;
    text-align: center;
    font-size: 2vw;
}
input[type="text"]{
    font-size: 2vw;

}
input[type="password"]{
    font-size: 2vw;
}
input[type="submit"]{
    width:50%;
    height:10%;

}

.feld {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
}

div.settings {
    background-color: rgba(150, 150, 150, 0.75);
    position: fixed;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 90%;
    display: none;
}

div.craftmenu {
    background-color: rgba(150, 150, 150);
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: none;
}

.itemu1 {
    grid-area: u1;
    width: 50px;
    height: 50px;
}

.itemu2 {
    grid-area: u2;
    width: 50px;
    height: 50px;
}

.itemu3 {
    grid-area: u3;
    width: 50px;
    height: 50px;
}

.itemu4 {
    grid-area: u4;
    width: 50px;
    height: 50px;
}

.itemu5 {
    grid-area: u5;
    width: 50px;
    height: 50px;
}

.itemu6 {
    grid-area: u6;
    width: 50px;
    height: 50px;
}

.itemu7 {
    grid-area: u7;
    width: 50px;
    height: 50px;
}

.itemu8 {
    grid-area: u8;
    width: 50px;
    height: 50px;
}

.itemu9 {
    grid-area: u9;
    width: 50px;
    height: 50px;
}

.itemu10 {
    grid-area: u10;
    width: 50px;
    height: 50px;
}

.itemd1 {
    grid-area: d1;
    width: 50px;
    height: 50px;
}

.itemd2 {
    grid-area: d2;
    width: 50px;
    height: 50px;
}

.itemd3 {
    grid-area: d3;
    width: 50px;
    height: 50px;
}

.itemd4 {
    grid-area: d4;
    width: 50px;
    height: 50px;
}

.itemd5 {
    grid-area: d5;
    width: 50px;
    height: 50px;
}

.itemd6 {
    grid-area: d6;
    width: 50px;
    height: 50px;
}

.itemd7 {
    grid-area: d7;
    width: 50px;
    height: 50px;
}

.itemd8 {
    grid-area: d8;
    width: 50px;
    height: 50px;
}

.itemd9 {
    grid-area: d9;
    width: 50px;
    height: 50px;
}

.itemd10 {
    grid-area: d10;
    width: 50px;
    height: 50px;
}

.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: red;
    user-select: none;
}

div.taskbar {
    background-color: rgba(150, 150, 150);
    position: fixed;
    left: 50%;
    bottom: 3px;
    width: 590px;
    height: 110px;
    transform: translateX(-50%);
    display: grid;
    grid-template-areas:
        'u1 u2 u3 u4 u5 u6 u7 u8 u9 u10'
        'd1 d2 d3 d4 d5 d6 d7 d8 d9 d10';
    gap: 10px;
    padding: 10px;
}

div.taskbar>div {
    position: relative;
    background-color: rgb(100, 100, 100);
    text-align: center;
    font-size: 30px;
}

div.inventory {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 30%;
    height: 96%;
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 5px;
}

div.inventoryspace {
    background-color: greenyellow;
    border: 2px solid rgb(0, 0, 0);
}

div.craftarea {
    position: absolute;
    top: 2%;
    left: 34%;
    width: 64%;
    height: 96%;
    background-color: tomato;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.recipe{
    aspect-ratio: 1 / 1;
    font-size: 40px;
}
div.taskbar>div:hover {
    background-color: rgb(140, 140, 140);
}